body {
    background-color: #eee;
    color: black;
    box-sizing: border-box;
    max-width: 50rem;
    margin: 0 auto;
    font-family: verdana, arial, helvetica, sans-serif;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-height: 100vh;
    overflow-y: scroll;
    /*text-align: justify;*/
}
h1 { text-align: center; }
h1 img { width: 100%; }
span.sc { font-variant: small-caps; }
p#copyright {
    margin: 0.2rem;
    text-align: center;
    font-size: 0.6rem;
}
/* Tab system adapted from https://codepen.io/mikestreety/pen/yVNNNm */
/* License for same available on that page. Thanks, mikestreety! */
.tabs {
    display: flex;
    flex-wrap: wrap;
}
.tabs label {
    order: 1;
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: lightblue;
    font-weight: bold;
    transition: background-color ease 0.2s;
    box-sizing: border-box;
    width: 12.35rem; /* 50rem, 4 tabs, 0.6rem in margins */
}
.tabs label.lasttab { margin-right: 0; }
.tabs label.faketab { display: none !important; }
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background-color: #fff;
}
.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"]:checked + label {
    background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}
